{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block main %}
<h1>Roll a dice</h1>

<p>Here is the value of the dice.</p>

<ul>
    <li>{{ diceString }}</li>
</ul>
{% endblock %}
